.switch {
  position: relative;

  display: inline-block;
  background-color: var(--blue-950);
  border-radius: var(--br-full);
  cursor: pointer;
  width: 44px;
  height: 20px;
}

.switch::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  background-color: white;
  border-radius: var(--br-full);
  width: 12px;
  height: 12px;
  transition: transform 0.2s ease;
}

.switch:has(input[type="checkbox"]:checked)::before {
  transform: translateX(1.5rem);
}
