.multi_step_success {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--size-md);

  padding-block: 4rem;
}

.multi_step_success img {
  width: 6rem;
}

.multi_step_success p {
  text-align: center;
  line-height: 1.4;
}
