.multi_step_success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-md);

  padding-block: 4rem;
}

.multi_step_success img {
  width: 6rem;
}

.multi_step_success p {
  text-align: center;
  line-height: 1.4;
}

@media (width > 1024px) {
  .multi_step_success {
    justify-content: center;
  }
}
