.header {
  display: flex;
  justify-content: center;

  background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat center
    center / cover;
}

.header ol {
  display: flex;
  gap: var(--size-md);

  margin-top: 2rem;
}
