.footer {
  background-color: var(--white);
  padding: var(--size-md);
}

.footer nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .next_button {
  margin-left: auto;
}
