.plan_radio_input_container {
  display: flex;
  gap: var(--size-md);

  border: 2px solid var(--purple-200);
  border-radius: var(--br-sm);
  background: transparent;
  cursor: pointer;
  padding: var(--size-md);
  transition: border-color 0.15s ease-out;
}

.plan_radio_input_container:has(input[type="radio"]:checked) {
  border: 2px solid var(--purple-600);
  background-color: var(--blue-100);
}

.plan_radio_input_container div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  flex-grow: 1;
}

.plan_radio_input_container div h4 {
  color: var(--purple-600);
  font-weight: 600;
}

.plan_radio_input_container div p {
  font-size: 0.95rem;
}
