.personal_info {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);

  background-color: var(--white);
  border-radius: 0.75rem;
  padding: var(--size-lg) var(--size-md);
}

.personal_info h2 {
  margin-bottom: var(--size-md);
}

.personal_info form {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
}

.personal_info form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.personal_info form label {
  color: var(--blue-950);
}

.personal_info form input {
  font-size: 0.95rem;
}
