@import "./css/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-ubuntu);
}

button {
  font-family: inherit;
  border: none;
}

ol {
  list-style: none;
}
